p {
  font-family: Montserrat;
  margin: 0px;
}

.model {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 10px;
}

.order_online {
  text-align: center;
}

.delivery {
  text-decoration: underline;
}